<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>转账</title>
    <style type="text/css">
        body {
            background-image: url(../photo/a7.jpg);
            color: #D6D6D6;
            background-size: 100% 100%;
            background-attachment: fixed;
            text-align: left;
            background-repeat: no-repeat;
        }
    </style>
</head>
<!--引入通用JS、css资源-->
<div th:replace="common/staticImport :: common_resource"></div>
<body class="gray-bg">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox-content m-b-sm border-bottom">
        <div class="p-xs">
            <div class="pull-left m-r-md">
                <i class="fa fa-globe text-navy mid-icon"></i>
            </div>
            <h2>欢迎使用转账功能</h2>
            <span>转账金额不得超过6位数</span>
        </div>
    </div>
    <div class="ibox-content">
        <form class="form-horizontal m-t" id="commentForm" novalidate="novalidate">
            <div class="form-group">
                <label class="col-sm-3 control-label">转入账户：</label>
                <div class="col-sm-3">
                    <input id="account" name="account" type="text" class="form-control" required="" aria-required="true">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">转账金额：</label>
                <div class="col-sm-3">
                    <input id="money" name="money" type="text" class="form-control" required="" aria-required="true">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-3">
                    <a id = "submit"  onclick="transfer()">转账</a>
                </div>
            </div>
        </form>
    </div>
    <button type="button" class="btn btn-primary btn-lg" onclick="JavaScript :history.back(1);">返回首页</button>
</div>
<script type="text/javascript" th:src="@{/js/OJ/bt/transfer.js}"></script>
</body>

</html>