<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <script>if(window.top !== window.self){ window.top.location = window.location;}</script>
</head>
<!--引入通用JS、css资源-->
<body class="gray-bg">
    <div th:replace="common/staticImport :: common_resource"></div>
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h5 class="logo-name">OJ</h5>
            </div>
            <h3>数据结构平台-后台管理</h3>
                <div class="form-group">
                    <input type="text" name="username" id="username" class="form-control" >
                </div>
                <div class="form-group">
                    <input type="password" name="passwords" id="passwords" class="form-control">
                </div>
                <button onclick="userLogin()" class="btn btn-primary block full-width m-b">登 录</button>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/login.js}"></script>
</body>


</html>